language: node_js
node_js:
- '8'
sudo: required

before_install:
- openssl aes-256-cbc -K $encrypted_2a9b08b8e159_key -iv $encrypted_2a9b08b8e159_iv
  -in dong_key.enc -out dong_key -d
- mv dong_key ~/.ssh -f
- chmod 600 ~/.ssh/dong_key
- eval $(ssh-agent)
- ssh-add ~/.ssh/dong_key
- cp .travis/ssh_config ~/.ssh/config
install:
- yarn install
- npm install better-npm-run -g
- npm install webpack -g
- npm install webpack-cli -g
before_script:
- npm run webpackprod
script: true
after_success:
- scp -r -o StrictHostKeyChecking=no ./build root@47.104.179.169:/root/
