language: node_js
node_js:
- '8'
sudo: required
before_install:
- openssl aes-256-cbc -K $encrypted_2661d89f9e44_key -iv $encrypted_2661d89f9e44_iv
  -in dong_key.enc -out ~/.ssh/dong_key -d
  - chmod 600 ~/.ssh/dong_key
  - echo -e "Host 47.104.179.169\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
install:
- yarn install
- npm install better-npm-run -g
- npm install webpack -g
- npm install webpack-cli -g
before_script:
- npm run webpackprod
script: true
after_success:
- scp -r build root@47.104.179.169:/home/
